@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.dotalign {
  @apply text-center;
}

.descriptiontext {
  @apply ml-[10px];
}

.descriptiontextspan {
  @apply ml-[43px];
}


.descriptiontextspan1 {
  @apply ml-[44px];
}

.circleBase {
  @apply rounded-full;
}


/* Toggle B */
input:checked~.dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

.react-grid-item.react-grid-placeholder {
  border: 3px dotted white;
  border-radius: 8px;
  background: none !important;
  opacity: 0.9;
}